<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/script/script.js"></script>

</head>

<body>
    <div class="flexcontainer NavigationBar">
        <button onclick="location.href = '/'">Home</button>
        <h1>Wellence Challenge</h1>
        <div>
            <button onclick="location.href = 'password_verify_link?form=data_entry'">Data Entry</button>
            <button onclick="location.href = 'password_verify_link?form=dashboard'">Dashboard</button>
        </div>
    </div>
    <div class="flexcontainer" style="width: 35%;">
        <button id="tasks-due-btn">Tasks Due</button>
        <button id="tasks-priority-btn">Tasks Priority</button>
        <button id="urgent-tasks-due-btn">Urgent Tasks Due</button>
        <button id="all-tasks-btn">All Tasks</button>
    </div>

    <iframe id="DashBoard_Iframe" src="tasks-due-report" frameborder="0"></iframe>

    <script>
        const switcher = new iframeSwitcher();

    </script>


</body>
</html>