<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Entry</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/script/script.js"></script>

</head>
<body>
    <div class="flexcontainer NavigationBar">
        <button onclick="location.href = '/'">Home</button>
        <h1>Wellence Challenge</h1>
        <div>
            <button onclick="location.href = 'password_verify_link?form=data_entry'">Data Entry</button>
            <button onclick="location.href = 'password_verify_link?form=dashboard'">Dashboard</button>
        </div>
    </div>

    
    <p>Data Entry</p>
    <form method="POST" onSubmit="event.preventDefault();">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="task">Task:</label><br>
        <input type="text" id="task" name="task"><br>
        <label for="due_by">Due By:</label><br>
        <input type="datetime-local" id="due_by" name="due_by"><br>
        <label for="priority">Priority:</label><br>
        <select id="priority" name="priority">
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
        </select><br>
        <label for="is_urgent">Is Urgent:</label><br>
        <input type="checkbox" id="is_urgent" name="is_urgent"><br><br>
        <button type="submit">Submit</button>
    </form>
    <script>
        // Get the form element and attach a submit event listener
        const form = document.querySelector('form');
        form.addEventListener('submit', async e => {
            e.preventDefault(); // Prevent the default form submission behavior aka switching pages
            try {
                // Send a POST request to the server with the form data
                const res = await fetch('/DataEntry_add', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json', // Specify the content type as JSON
                        'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token in the request headers (required)
                    },
                    body: JSON.stringify(Object.fromEntries(
                        new FormData(form).entries()
                    )) // Convert the form data to a JSON string
                });
                if (res.ok) { // Check if the request was successful
                    alert('Task added'); // Show a success message
                    form.reset(); // Reset the form fields
                } else { // If the request failed
                    alert('Error adding task'); // Show an error message
                }
            } catch (e) { // If there was an error
                alert(e.message); // Show the error message
            }
        });
    </script>
</body>
</html>
