<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Entry</title>
    <link rel="stylesheet" href="static/css/DataEntry.css">
</head>
<body>
    <div class="flexcontainer NavigationBar">
        <button onclick="location.href = '/'">Home</button>
        <h1>Wellence Challenge</h1>
        <div class="nav-buttons">
            <button onclick="location.href = '/DataEntry'">Data Entry</button>
            <button onclick="location.href = '/DashBoard'">Dashboard</button>
            <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </div>

    <div class="DataEntry_Flexcontainer">
        <h1>Data Entry</h1>
        <form id="taskForm" class="DataEntry_Container">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="task">Task:</label>
            <input type="text" id="task" name="task" required>
            
            <label for="due_by">Due By:</label>
            <input type="datetime-local" id="due_by" name="due_by" required>
            
            <label for="priority">Priority:</label>
            <select id="priority" name="priority" required>
                <option value="1">Low</option>
                <option value="2">Medium</option>
                <option value="3">High</option>
            </select>
            
            <div>
                <label for="is_urgent">Is Urgent:</label>
                <input type="checkbox" id="is_urgent" name="is_urgent">
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="static/script/DataEntry.js"></script>
</body>
</html>